<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DutSchedule"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">

        <!-- Trigger Google Play services to install the backport photo picker module. -->
        <!--suppress AndroidDomInspection -->
        <service android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>
            <meta-data android:name="photopicker_activity:0:required" android:value="" />
        </service>

        <activity
            android:name=".activity.NewsActivity"
            android:exported="false"
            android:label="DutSchedule - News"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DutSchedule"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.NewsDetailActivity"
            android:exported="false"
            android:label="DutSchedule - News detail"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DutSchedule" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DutSchedule"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AccountActivity"
            android:exported="false"
            android:label="DutSchedule - Account"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DutSchedule"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.PermissionRequestActivity"
            android:exported="false"
            android:label="DutSchedule - Permission Request"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DutSchedule"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SettingsActivity"
            android:exported="false"
            android:label="DutSchedule - Settings"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DutSchedule" />
        <service
            android:name=".service.NewsUpdateService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="shortService"
            android:label="DutSchedule - News Update Service" />
    </application>

</manifest>